In [2]:
import pandas as pd
import numpy as np

In [3]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 2000

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restaurant_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_restuarant_'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_restuarant_ncf_scores.csv')

In [6]:
eat_info

,name,address,category,price,rvw_cnt,rating,lat,lng,p_id,reviews
0,김북순큰남비집,서울특별시 강남구 압구정로2길 15 신사아이빌 1F,한정식 / 백반 / 정통 한식,5000,25,4.000000,37.520699,127.019975,88,"맛있음. #돼훈맛집 #솔직돼훈맛있고, 든든하게 한식을 먹을 수 있는 곳! -맛 : ..."
1,두부공작소,서울특별시 강남구 강남대로160길 21,한정식 / 백반 / 정통 한식,5000,16,3.800000,37.519766,127.020477,166,점점 망해가는 느낌잠점 책상도 끈적끈적해지는것 같고...맛은 그럭저럭인편. 가격에 ...
2,빌라드스파이시,서울특별시 강남구 도산대로13길 14-3,기타 한식,5000,38,3.600000,37.519027,127.023549,322,떡볶이가 너무 좋아서 사먹어봤어요. 즉석 떡볶이가 참 맛있어요ㅎ약간 매운 맛인데도 ...
3,스쿨푸드,서울특별시 강남구 도산대로 139,기타 한식,5000,11,3.500000,37.518213,127.023711,398,오랜만에 스쿨푸드에서 배달시켜 먹었어요. 15년 전 즈음엔 가로수길에 와서 스쿨푸드...
4,송옥,서울특별시 강남구 강남대로154길 43 2F,국수 / 면 요리,5000,11,3.100000,37.518625,127.022385,376,판메밀(2판) / 돈가스. 한국식 판메밀을 판매하는 곳으로 역사도 있는 집으로 보인...
...,...,...,...,...,...,...,...,...,...,...
768,요술포차,서울특별시 강남구 테헤란로19길 5,일반 주점,25000,5,NaN,37.500368,127.033440,528,예약하러고 전화 3번 했을 때 알아봤어야 했는데... 저녁에 3테이블정도밖에 없을 ...
769,전통주갤러리,서울특별시 강남구 테헤란로5길 51-20,전통 주점 / 포차,25000,2,NaN,37.501505,127.027861,591,다양한 전통주를 시음할 수 있는 공간전통주 무료시음회도 하고 판매도 하는 곳입니다....
770,더블린테라스,서울특별시 강남구 강남대로94길 27-15 태리빌딩,치킨 / 호프 / 펍,25000,1,NaN,37.500657,127.029090,148,강남역에 위치한 맥주펍. CGV 뒷골목 더블린 말고 주택가 쪽에 올라가면 위치해있는...
771,술술술,서울특별시 강남구 강남대로98길 12-5,일반 주점,25000,2,NaN,37.500376,127.027961,381,오랫동안 강남역 바닥에서 술을 마셨지만 못들어본곳이었던 이곳. 왠만한 안주는 다 좋...
772,다슬음,서울특별시 강남구 강남대로62길 23 역삼빌딩 1F,일반 주점,25000,1,NaN,37.490820,127.033417,131,프라이빗 주점이 없는 강남ㅡ양재사이의 오아시스같은곳!은은한 커튼에 깔끔한 분위기가 ...

In [7]:
 eat_info=eat_info[['p_id','name','address','category','price',]]

In [8]:
eat_info

     p_id     name                       address          category  price
0      88  김북순큰남비집  서울특별시 강남구 압구정로2길 15 신사아이빌 1F  한정식 / 백반 / 정통 한식   5000
1     166    두부공작소         서울특별시 강남구 강남대로160길 21  한정식 / 백반 / 정통 한식   5000
2     322  빌라드스파이시        서울특별시 강남구 도산대로13길 14-3             기타 한식   5000
3     398     스쿨푸드            서울특별시 강남구 도산대로 139             기타 한식   5000
4     376       송옥      서울특별시 강남구 강남대로154길 43 2F         국수 / 면 요리   5000
..    ...      ...                           ...               ...    ...
768   528     요술포차           서울특별시 강남구 테헤란로19길 5             일반 주점  25000
769   591   전통주갤러리        서울특별시 강남구 테헤란로5길 51-20        전통 주점 / 포차  25000
770   148   더블린테라스  서울특별시 강남구 강남대로94길 27-15 태리빌딩       치킨 / 호프 / 펍  25000
771   381      술술술        서울특별시 강남구 강남대로98길 12-5             일반 주점  25000
772   131      다슬음  서울특별시 강남구 강남대로62길 23 역삼빌딩 1F             일반 주점  25000

[773 rows x 5 columns]

In [9]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.000018
1       1   0.000039
2       2   0.000174
3       3   0.000034
4       4   0.000089
..    ...        ...
768   768   0.000000
769   769   0.000007
770   770   0.000008
771   771        NaN
772   772        NaN

[773 rows x 2 columns]

In [10]:
ncf

         u_id       p_id  ncf_score
0           0   0.000000   0.768067
1           0  95.000000   0.007135
2           0  62.000000   0.020776
3           0 120.000000   0.008198
4           0  32.000000   0.125435
...       ...        ...        ...
3223546  4180 539.000000   0.000021
3223547  4180 697.000000   0.000089
3223548  4180 758.000000   0.001147
3223549  4180 607.000000   0.000000
3223550  4180 715.000000   0.000039

[3223551 rows x 3 columns]

In [11]:
ncf=ncf[ncf['u_id']==2000]

In [12]:
ncf

         u_id       p_id  ncf_score
1542000  2000   5.000000   0.002740
1542001  2000  32.000000   0.003087
1542002  2000  72.000000   0.002505
1542003  2000  92.000000   0.000539
1542004  2000 236.000000   0.009182
...       ...        ...        ...
1542766  2000 595.000000   0.000000
1542767  2000 561.000000   0.000017
1542768  2000 366.000000   0.000017
1542769  2000 690.000000   0.000000
1542770  2000 207.000000   0.000004

[771 rows x 3 columns]

In [13]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,category,price,cbf_score,u_id,ncf_score
0,88,김북순큰남비집,서울특별시 강남구 압구정로2길 15 신사아이빌 1F,한정식 / 백반 / 정통 한식,5000,0.000008,2000.000000,0.000019
1,166,두부공작소,서울특별시 강남구 강남대로160길 21,한정식 / 백반 / 정통 한식,5000,0.000057,2000.000000,0.006967
2,322,빌라드스파이시,서울특별시 강남구 도산대로13길 14-3,기타 한식,5000,0.000004,2000.000000,0.000076
3,398,스쿨푸드,서울특별시 강남구 도산대로 139,기타 한식,5000,0.002193,2000.000000,0.000000
4,376,송옥,서울특별시 강남구 강남대로154길 43 2F,국수 / 면 요리,5000,0.000008,2000.000000,0.025418
...,...,...,...,...,...,...,...,...
768,528,요술포차,서울특별시 강남구 테헤란로19길 5,일반 주점,25000,0.000000,2000.000000,0.000036
769,591,전통주갤러리,서울특별시 강남구 테헤란로5길 51-20,전통 주점 / 포차,25000,0.000000,2000.000000,0.000282
770,148,더블린테라스,서울특별시 강남구 강남대로94길 27-15 태리빌딩,치킨 / 호프 / 펍,25000,0.000005,2000.000000,0.000012
771,381,술술술,서울특별시 강남구 강남대로98길 12-5,일반 주점,25000,0.000056,2000.000000,0.000173
772,131,다슬음,서울특별시 강남구 강남대로62길 23 역삼빌딩 1F,일반 주점,25000,0.000256,2000.000000,0.000000

In [14]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [15]:
del df['u_id']

In [16]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,category,price,cbf_score,ncf_score,result
129,10,Lu307,서울특별시 강남구 압구정로10길 30-7 1F,이자카야 / 오뎅 / 꼬치,15000,0.001708,0.205810,0.000352
732,106,나즈드라비,서울특별시 강남구 테헤란로1길 28-6 제이빌딩 B1,치킨 / 호프 / 펍,15000,0.000919,0.271242,0.000249
15,37,강승월한식당,서울특별시 강남구 논현로175길 61 2F,한정식 / 백반 / 정통 한식,5000,0.000424,0.520358,0.000221
756,120,노가리마트,서울특별시 강남구 역삼로3길 14,전통 주점 / 포차,15000,0.000770,0.116259,0.000089
760,71,구스아일랜드 브루하우스,서울특별시 강남구 역삼로 118,치킨 / 호프 / 펍,25000,0.013568,0.006150,0.000083
188,13,Sogak,서울특별시 강남구 강남대로160길 17 1F,정통 중식 / 일반 중식,15000,0.000827,0.096151,0.000080
377,633,청년다방,서울특별시 강남구 강남대로94길 10 강남K스퀘어 3F,기타 한식,5000,0.000519,0.057185,0.000030
260,215,마이하노이,서울특별시 강남구 압구정로10길 37,베트남 음식,5000,0.000247,0.087066,0.000021
432,268,미요,서울특별시 강남구 강남대로110길 11 2F,고기 요리,15000,0.001001,0.018132,0.000018
663,68,구구당,서울특별시 강남구 강남대로102길 35,퓨전 양식,15000,0.001258,0.012576,0.000016