In [2]:
import pandas as pd
import numpy as np

In [3]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 107

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_restaurant_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_restuarant_'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_restuarant_ncf_scores.csv')

In [6]:
eat_info

,name,address,category,price,rvw_cnt,rating,lat,lng,p_id,reviews
0,김북순큰남비집,서울특별시 강남구 압구정로2길 15 신사아이빌 1F,한정식 / 백반 / 정통 한식,5000,25,4.000000,37.520699,127.019975,88,"맛있음. #돼훈맛집 #솔직돼훈맛있고, 든든하게 한식을 먹을 수 있는 곳! -맛 : ..."
1,두부공작소,서울특별시 강남구 강남대로160길 21,한정식 / 백반 / 정통 한식,5000,16,3.800000,37.519766,127.020477,166,점점 망해가는 느낌잠점 책상도 끈적끈적해지는것 같고...맛은 그럭저럭인편. 가격에 ...
2,빌라드스파이시,서울특별시 강남구 도산대로13길 14-3,기타 한식,5000,38,3.600000,37.519027,127.023549,322,떡볶이가 너무 좋아서 사먹어봤어요. 즉석 떡볶이가 참 맛있어요ㅎ약간 매운 맛인데도 ...
3,스쿨푸드,서울특별시 강남구 도산대로 139,기타 한식,5000,11,3.500000,37.518213,127.023711,398,오랜만에 스쿨푸드에서 배달시켜 먹었어요. 15년 전 즈음엔 가로수길에 와서 스쿨푸드...
4,송옥,서울특별시 강남구 강남대로154길 43 2F,국수 / 면 요리,5000,11,3.100000,37.518625,127.022385,376,판메밀(2판) / 돈가스. 한국식 판메밀을 판매하는 곳으로 역사도 있는 집으로 보인...
...,...,...,...,...,...,...,...,...,...,...
768,요술포차,서울특별시 강남구 테헤란로19길 5,일반 주점,25000,5,NaN,37.500368,127.033440,528,예약하러고 전화 3번 했을 때 알아봤어야 했는데... 저녁에 3테이블정도밖에 없을 ...
769,전통주갤러리,서울특별시 강남구 테헤란로5길 51-20,전통 주점 / 포차,25000,2,NaN,37.501505,127.027861,591,다양한 전통주를 시음할 수 있는 공간전통주 무료시음회도 하고 판매도 하는 곳입니다....
770,더블린테라스,서울특별시 강남구 강남대로94길 27-15 태리빌딩,치킨 / 호프 / 펍,25000,1,NaN,37.500657,127.029090,148,강남역에 위치한 맥주펍. CGV 뒷골목 더블린 말고 주택가 쪽에 올라가면 위치해있는...
771,술술술,서울특별시 강남구 강남대로98길 12-5,일반 주점,25000,2,NaN,37.500376,127.027961,381,오랫동안 강남역 바닥에서 술을 마셨지만 못들어본곳이었던 이곳. 왠만한 안주는 다 좋...
772,다슬음,서울특별시 강남구 강남대로62길 23 역삼빌딩 1F,일반 주점,25000,1,NaN,37.490820,127.033417,131,프라이빗 주점이 없는 강남ㅡ양재사이의 오아시스같은곳!은은한 커튼에 깔끔한 분위기가 ...

In [7]:
 eat_info=eat_info[['p_id','name','address','category','price',]]

In [8]:
eat_info

     p_id     name                       address          category  price
0      88  김북순큰남비집  서울특별시 강남구 압구정로2길 15 신사아이빌 1F  한정식 / 백반 / 정통 한식   5000
1     166    두부공작소         서울특별시 강남구 강남대로160길 21  한정식 / 백반 / 정통 한식   5000
2     322  빌라드스파이시        서울특별시 강남구 도산대로13길 14-3             기타 한식   5000
3     398     스쿨푸드            서울특별시 강남구 도산대로 139             기타 한식   5000
4     376       송옥      서울특별시 강남구 강남대로154길 43 2F         국수 / 면 요리   5000
..    ...      ...                           ...               ...    ...
768   528     요술포차           서울특별시 강남구 테헤란로19길 5             일반 주점  25000
769   591   전통주갤러리        서울특별시 강남구 테헤란로5길 51-20        전통 주점 / 포차  25000
770   148   더블린테라스  서울특별시 강남구 강남대로94길 27-15 태리빌딩       치킨 / 호프 / 펍  25000
771   381      술술술        서울특별시 강남구 강남대로98길 12-5             일반 주점  25000
772   131      다슬음  서울특별시 강남구 강남대로62길 23 역삼빌딩 1F             일반 주점  25000

[773 rows x 5 columns]

In [9]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.000012
1       1   0.000018
2       2   0.000087
3       3   0.000023
4       4   0.000045
..    ...        ...
768   768   0.000000
769   769   0.000002
770   770   0.000000
771   771        NaN
772   772        NaN

[773 rows x 2 columns]

In [10]:
ncf

         u_id       p_id  ncf_score
0           0   0.000000   0.768067
1           0  95.000000   0.007135
2           0  62.000000   0.020776
3           0 120.000000   0.008198
4           0  32.000000   0.125435
...       ...        ...        ...
3223546  4180 539.000000   0.000021
3223547  4180 697.000000   0.000089
3223548  4180 758.000000   0.001147
3223549  4180 607.000000   0.000000
3223550  4180 715.000000   0.000039

[3223551 rows x 3 columns]

In [11]:
ncf=ncf[ncf['u_id']==107]

In [12]:
ncf

       u_id       p_id  ncf_score
82497   107  89.000000   0.033299
82498   107  34.000000   0.002965
82499   107  40.000000   0.111992
82500   107 111.000000   0.000075
82501   107 165.000000   0.076170
...     ...        ...        ...
83263   107 596.000000   0.000000
83264   107 597.000000   0.000002
83265   107 255.000000   0.000000
83266   107 249.000000   0.000000
83267   107 573.000000   0.000004

[771 rows x 3 columns]

In [13]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,category,price,cbf_score,u_id,ncf_score
0,88,김북순큰남비집,서울특별시 강남구 압구정로2길 15 신사아이빌 1F,한정식 / 백반 / 정통 한식,5000,0.000003,107.000000,0.003950
1,166,두부공작소,서울특별시 강남구 강남대로160길 21,한정식 / 백반 / 정통 한식,5000,0.000022,107.000000,0.004031
2,322,빌라드스파이시,서울특별시 강남구 도산대로13길 14-3,기타 한식,5000,0.000001,107.000000,0.000006
3,398,스쿨푸드,서울특별시 강남구 도산대로 139,기타 한식,5000,0.002413,107.000000,0.000000
4,376,송옥,서울특별시 강남구 강남대로154길 43 2F,국수 / 면 요리,5000,0.000008,107.000000,0.059221
...,...,...,...,...,...,...,...,...
768,528,요술포차,서울특별시 강남구 테헤란로19길 5,일반 주점,25000,0.000000,107.000000,0.000000
769,591,전통주갤러리,서울특별시 강남구 테헤란로5길 51-20,전통 주점 / 포차,25000,0.000000,107.000000,0.000000
770,148,더블린테라스,서울특별시 강남구 강남대로94길 27-15 태리빌딩,치킨 / 호프 / 펍,25000,0.000001,107.000000,0.001669
771,381,술술술,서울특별시 강남구 강남대로98길 12-5,일반 주점,25000,0.000062,107.000000,0.000170
772,131,다슬음,서울특별시 강남구 강남대로62길 23 역삼빌딩 1F,일반 주점,25000,0.000092,107.000000,0.000285

In [14]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [15]:
del df['u_id']

In [16]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,category,price,cbf_score,ncf_score,result
494,15,가가솥밥,서울특별시 강남구 역삼로5길 19 1F,한정식 / 백반 / 정통 한식,15000,0.001246,0.062523,0.000078
15,37,강승월한식당,서울특별시 강남구 논현로175길 61 2F,한정식 / 백반 / 정통 한식,5000,0.000688,0.071217,0.000049
129,10,Lu307,서울특별시 강남구 압구정로10길 30-7 1F,이자카야 / 오뎅 / 꼬치,15000,0.001880,0.025679,0.000048
663,68,구구당,서울특별시 강남구 강남대로102길 35,퓨전 양식,15000,0.001384,0.033634,0.000047
144,16,가로수길 소소,서울특별시 강남구 강남대로154길 41,이자카야 / 오뎅 / 꼬치,25000,0.000146,0.135507,0.000020
368,75,그 우동집,서울특별시 강남구 역삼로7길 7,기타 한식,5000,0.000468,0.027335,0.000013
117,153,덴푸라키이로,서울특별시 강남구 논현로153길 51 102호,돈부리 / 일본 카레 / 벤토,15000,0.000142,0.076490,0.000011
192,425,신사완쯔,서울특별시 강남구 강남대로154길 11 애경빌딩,퓨전 중식,15000,0.000541,0.011556,0.000006
767,2,29펍,서울특별시 강남구 강남대로110길 14,치킨 / 호프 / 펍,25000,0.000087,0.066681,0.000006
646,435,써브웨이,서울특별시 강남구 강남대로96길 12 지천빌딩 1F,브런치 / 버거 / 샌드위치,5000,0.000579,0.009117,0.000005