In [2]:
import pandas as pd
import numpy as np

In [3]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 2000

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_cafe_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_cafe_'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_cafe_ncf_scores.csv')

In [5]:
eat_info

,Unnamed: 0,name,address,category,price,rvw_cnt,rating,lat,lng,p_id,reviews,tags
0,0,새들러하우스,서울특별시 강남구 도산대로17길 10 B1,카페 / 디저트,5000,104,4.400000,37.519342,127.024908,350,인기 폭팔에 항상 솔드아웃이라 거의 방문이 불가능한 이메지너리 카페 인줄알았는데 평...,"폭팔,솔드아웃,메,너리,카페,낮,심지어,커피,한잔,여유,명성,의,바삭,쫀득함,귯,음..."
1,1,테일러커피,서울특별시 강남구 강남대로160길 31 1F,카페 / 디저트,5000,10,4.300000,37.520120,127.021195,782,- 가로수길 카페 중 제일 자주 가게 되는 테일러커피입니다. 갈때마다 다른걸 먹어서...,"가로수길,카페,테일러,커피,매번,카페인,디카,페인,커피,최근,디카,페인,원두,인지,..."
2,2,컨플릭트 스토어,서울특별시 강남구 논현로159길 46-5,카페 / 디저트,5000,5,4.300000,37.522314,127.024300,741,☕️커피 애호가가 원하는 건 뭐든 찾을 수 있는 커피 편집샵 전세계의 다양한 커피...,"커피,애호가,커피,편집,전세계,커피,원두,그대로,커피,편집,카페,이름,스토어,원두,..."
3,3,마일스톤커피,서울특별시 강남구 논현로159길 49,카페 / 디저트,5000,69,4.200000,37.521806,127.024323,225,유명한 맛집에는 뭔가 이유가 있다.음식이 맛있거나분위기가 좋거나다시 기억날 정도로 ...,"커피,커피,가로수길,라면,퇴근길,커피,하루,마무리,가로수길,쪽,카페,원목,유리,통창..."
4,4,마카롱쿠튀르,서울특별시 강남구 논현로175길 109,카페 / 디저트,5000,28,4.100000,37.522279,127.020596,228,이번에 위치를 옮겨서 삐아프 초콜렛 전문 매장이랑 같이 운영하는거 같더라구요! 매장...,"삐,초콜렛,전문,운영,협소,좌석,한가지,선물,사서,더블,바닐라,마카롱,쫀득쫀득,초콜..."
...,...,...,...,...,...,...,...,...,...,...,...,...
869,869,리아라운지,서울특별시 강남구 도산대로 420 청담스퀘어B동 1F,카페 / 디저트,15000,3,NaN,NaN,NaN,211,#일상속공간예술 #분위기짱 #맛은....청담스퀘어에 위치한 카페겸 바 리아라운지~ ...,"청담,스퀘어,카페,겸,리아,라운지,감각,타일,오브,조명,리아,컬렉션,가구,완성,공간..."
870,870,Bar Tea Scent,서울특별시 강남구 선릉로162길 16 엘리자벳빌딩,카페 / 디저트,25000,13,3.800000,NaN,NaN,9,#압구정로데오 #바 아 여기 너무 좋았다 칵테일이 진짜 다 맛있었음. 제일 먼저 시...,"칵테일,먼저,재스민,티,칵테일,술,향,술,바텐더,해주시,마티니,그린티,요물,일본,일..."
871,871,스케줄,서울특별시 강남구 선릉로152길 37 B1,카페 / 디저트,25000,35,3.600000,NaN,NaN,383,4.7/5엄청난 빙수 맛집..!!복숭아 빙수 먹으러 갔는데 품절이라 샤인머스켓 먹음...,"빙수,복숭아,빙수,품절,샤인,머스켓,우유,얼음,압도,그대로,우유,어디,제품,뻔,우유..."
872,872,안서리베이킹랩,서울특별시 강남구 삼성로 755,카페 / 디저트,25000,1,NaN,NaN,NaN,437,머랭으로 만드는 호주의 유명한 디저트인 ‘파블로바’ 케이크로 인스타에서 핫한 곳이에...,"머랭,호주,디저트,파블로바,케이크,인스타,핫,두툼,단,케이크,각종,계절,과일,보기,..."
873,873,티하우스하다,서울특별시 강남구 선릉로146길 54 1F,카페 / 디저트,35000,5,4.400000,NaN,NaN,801,처음 가본 티하우스 +_+ 티코스가 생소하면서도 궁금해서 밋업으로 다녀왔습니다! ...,"티,하우스,티,코스,밋업,공간,중요성,주택가,티룸,볕,향,컵,소리,티,소믈리에,움직..."

In [6]:
 eat_info=eat_info[['p_id','name','address','category','price',]]

In [7]:
eat_info

     p_id           name                        address  category  price
0     350         새들러하우스        서울특별시 강남구 도산대로17길 10 B1  카페 / 디저트   5000
1     782          테일러커피       서울특별시 강남구 강남대로160길 31 1F  카페 / 디저트   5000
2     741       컨플릭트 스토어         서울특별시 강남구 논현로159길 46-5  카페 / 디저트   5000
3     225         마일스톤커피           서울특별시 강남구 논현로159길 49  카페 / 디저트   5000
4     228         마카롱쿠튀르          서울특별시 강남구 논현로175길 109  카페 / 디저트   5000
..    ...            ...                            ...       ...    ...
869   211          리아라운지  서울특별시 강남구 도산대로 420 청담스퀘어B동 1F  카페 / 디저트  15000
870     9  Bar Tea Scent    서울특별시 강남구 선릉로162길 16 엘리자벳빌딩  카페 / 디저트  25000
871   383            스케줄        서울특별시 강남구 선릉로152길 37 B1  카페 / 디저트  25000
872   437        안서리베이킹랩              서울특별시 강남구 삼성로 755  카페 / 디저트  25000
873   801         티하우스하다        서울특별시 강남구 선릉로146길 54 1F  카페 / 디저트  35000

[874 rows x 5 columns]

In [8]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.000000
1       1   0.000002
2       2   0.000001
3       3   0.003413
4       4   0.000000
..    ...        ...
869   869   0.000000
870   870   0.000000
871   871   0.000000
872   872        NaN
873   873        NaN

[874 rows x 2 columns]

In [9]:
ncf

         u_id       p_id  ncf_score
0           0 296.000000   0.962409
1           0 459.000000   0.993598
2           0  54.000000   0.000001
3           0  84.000000   0.996747
4           0 110.000000   0.000781
...       ...        ...        ...
2256731  2587 563.000000   0.000000
2256732  2587 562.000000   0.000000
2256733  2587 560.000000   0.000000
2256734  2587 558.000000   0.000000
2256735  2587   0.000000   0.000000

[2256736 rows x 3 columns]

In [10]:
ncf=ncf[ncf['u_id']==2000]

In [11]:
ncf

         u_id       p_id  ncf_score
1744000  2000  98.000000   0.000179
1744001  2000  34.000000   0.000000
1744002  2000  29.000000   0.000000
1744003  2000  16.000000   0.000000
1744004  2000  70.000000   0.000018
...       ...        ...        ...
1744867  2000 547.000000   0.000000
1744868  2000 546.000000   0.000000
1744869  2000 545.000000   0.000000
1744870  2000 544.000000   0.000000
1744871  2000 435.000000   0.000000

[872 rows x 3 columns]

In [12]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,category,price,cbf_score,u_id,ncf_score
0,350,새들러하우스,서울특별시 강남구 도산대로17길 10 B1,카페 / 디저트,5000,0.000000,2000.000000,0.000000
1,782,테일러커피,서울특별시 강남구 강남대로160길 31 1F,카페 / 디저트,5000,0.000000,2000.000000,0.000002
2,741,컨플릭트 스토어,서울특별시 강남구 논현로159길 46-5,카페 / 디저트,5000,0.000000,2000.000000,0.000000
3,225,마일스톤커피,서울특별시 강남구 논현로159길 49,카페 / 디저트,5000,0.000000,2000.000000,0.000000
4,228,마카롱쿠튀르,서울특별시 강남구 논현로175길 109,카페 / 디저트,5000,0.000002,2000.000000,0.000000
...,...,...,...,...,...,...,...,...
869,211,리아라운지,서울특별시 강남구 도산대로 420 청담스퀘어B동 1F,카페 / 디저트,15000,0.000004,2000.000000,0.000000
870,9,Bar Tea Scent,서울특별시 강남구 선릉로162길 16 엘리자벳빌딩,카페 / 디저트,25000,0.000000,2000.000000,0.000000
871,383,스케줄,서울특별시 강남구 선릉로152길 37 B1,카페 / 디저트,25000,0.000000,2000.000000,0.000000
872,437,안서리베이킹랩,서울특별시 강남구 삼성로 755,카페 / 디저트,25000,0.000000,2000.000000,0.000000
873,801,티하우스하다,서울특별시 강남구 선릉로146길 54 1F,카페 / 디저트,35000,0.000000,2000.000000,0.000000

In [13]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [14]:
del df['u_id']

In [15]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,category,price,cbf_score,ncf_score,result
411,123,더쿤스트,서울특별시 강남구 남부순환로378길 34-10 1F,카페 / 디저트,5000,0.036927,0.001991,0.000074
51,8,Arki Coffee,서울특별시 강남구 압구정로18길 10 1F,카페 / 디저트,5000,0.058131,0.000411,0.000024
41,367,소진담,서울특별시 강남구 논현로161길 51,카페 / 디저트,5000,0.006914,0.000896,0.000006
648,140,도수향,서울특별시 강남구 선릉로161길 21-4,카페 / 디저트,15000,0.016495,0.000335,0.000006
290,194,로칼커피,서울특별시 강남구 선릉로111길 11 1F,카페 / 디저트,5000,0.000554,0.001374,0.000001
647,81,꽁티드툴레아,서울특별시 강남구 도산대로49길 39 2F,카페 / 디저트,15000,0.072182,0.000009,0.000001
868,488,엘레나영,서울특별시 강남구 도산대로99길 47,카페 / 디저트,15000,0.000897,0.000722,0.000001
652,318,블루리본딜라이트,서울특별시 강남구 도산대로49길 17,카페 / 디저트,15000,0.000062,0.005783,0.000000
145,157,땡스브레드앤커피,서울특별시 강남구 강남대로62길 34,카페 / 디저트,5000,0.000012,0.021537,0.000000
382,204,룸서비스301,서울특별시 강남구 양재천로 193 301호,카페 / 디저트,5000,0.000000,0.320708,0.000000