In [1]:
import pandas as pd
import numpy as np

In [6]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 107

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/강남구_cafe_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_cafe_'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/강남구_cafe_ncf_scores.csv')

In [9]:
eat_info

,Unnamed: 0,name,address,category,price,rvw_cnt,rating,lat,lng,p_id,reviews,tags
0,0,새들러하우스,서울특별시 강남구 도산대로17길 10 B1,카페 / 디저트,5000,104,4.400000,37.519342,127.024908,350,인기 폭팔에 항상 솔드아웃이라 거의 방문이 불가능한 이메지너리 카페 인줄알았는데 평...,"폭팔,솔드아웃,메,너리,카페,낮,심지어,커피,한잔,여유,명성,의,바삭,쫀득함,귯,음..."
1,1,테일러커피,서울특별시 강남구 강남대로160길 31 1F,카페 / 디저트,5000,10,4.300000,37.520120,127.021195,782,- 가로수길 카페 중 제일 자주 가게 되는 테일러커피입니다. 갈때마다 다른걸 먹어서...,"가로수길,카페,테일러,커피,매번,카페인,디카,페인,커피,최근,디카,페인,원두,인지,..."
2,2,컨플릭트 스토어,서울특별시 강남구 논현로159길 46-5,카페 / 디저트,5000,5,4.300000,37.522314,127.024300,741,☕️커피 애호가가 원하는 건 뭐든 찾을 수 있는 커피 편집샵 전세계의 다양한 커피...,"커피,애호가,커피,편집,전세계,커피,원두,그대로,커피,편집,카페,이름,스토어,원두,..."
3,3,마일스톤커피,서울특별시 강남구 논현로159길 49,카페 / 디저트,5000,69,4.200000,37.521806,127.024323,225,유명한 맛집에는 뭔가 이유가 있다.음식이 맛있거나분위기가 좋거나다시 기억날 정도로 ...,"커피,커피,가로수길,라면,퇴근길,커피,하루,마무리,가로수길,쪽,카페,원목,유리,통창..."
4,4,마카롱쿠튀르,서울특별시 강남구 논현로175길 109,카페 / 디저트,5000,28,4.100000,37.522279,127.020596,228,이번에 위치를 옮겨서 삐아프 초콜렛 전문 매장이랑 같이 운영하는거 같더라구요! 매장...,"삐,초콜렛,전문,운영,협소,좌석,한가지,선물,사서,더블,바닐라,마카롱,쫀득쫀득,초콜..."
...,...,...,...,...,...,...,...,...,...,...,...,...
869,869,리아라운지,서울특별시 강남구 도산대로 420 청담스퀘어B동 1F,카페 / 디저트,15000,3,NaN,NaN,NaN,211,#일상속공간예술 #분위기짱 #맛은....청담스퀘어에 위치한 카페겸 바 리아라운지~ ...,"청담,스퀘어,카페,겸,리아,라운지,감각,타일,오브,조명,리아,컬렉션,가구,완성,공간..."
870,870,Bar Tea Scent,서울특별시 강남구 선릉로162길 16 엘리자벳빌딩,카페 / 디저트,25000,13,3.800000,NaN,NaN,9,#압구정로데오 #바 아 여기 너무 좋았다 칵테일이 진짜 다 맛있었음. 제일 먼저 시...,"칵테일,먼저,재스민,티,칵테일,술,향,술,바텐더,해주시,마티니,그린티,요물,일본,일..."
871,871,스케줄,서울특별시 강남구 선릉로152길 37 B1,카페 / 디저트,25000,35,3.600000,NaN,NaN,383,4.7/5엄청난 빙수 맛집..!!복숭아 빙수 먹으러 갔는데 품절이라 샤인머스켓 먹음...,"빙수,복숭아,빙수,품절,샤인,머스켓,우유,얼음,압도,그대로,우유,어디,제품,뻔,우유..."
872,872,안서리베이킹랩,서울특별시 강남구 삼성로 755,카페 / 디저트,25000,1,NaN,NaN,NaN,437,머랭으로 만드는 호주의 유명한 디저트인 ‘파블로바’ 케이크로 인스타에서 핫한 곳이에...,"머랭,호주,디저트,파블로바,케이크,인스타,핫,두툼,단,케이크,각종,계절,과일,보기,..."
873,873,티하우스하다,서울특별시 강남구 선릉로146길 54 1F,카페 / 디저트,35000,5,4.400000,NaN,NaN,801,처음 가본 티하우스 +_+ 티코스가 생소하면서도 궁금해서 밋업으로 다녀왔습니다! ...,"티,하우스,티,코스,밋업,공간,중요성,주택가,티룸,볕,향,컵,소리,티,소믈리에,움직..."

In [10]:
 eat_info=eat_info[['p_id','name','address','category','price',]]

In [11]:
eat_info

     p_id           name                        address  category  price
0     350         새들러하우스        서울특별시 강남구 도산대로17길 10 B1  카페 / 디저트   5000
1     782          테일러커피       서울특별시 강남구 강남대로160길 31 1F  카페 / 디저트   5000
2     741       컨플릭트 스토어         서울특별시 강남구 논현로159길 46-5  카페 / 디저트   5000
3     225         마일스톤커피           서울특별시 강남구 논현로159길 49  카페 / 디저트   5000
4     228         마카롱쿠튀르          서울특별시 강남구 논현로175길 109  카페 / 디저트   5000
..    ...            ...                            ...       ...    ...
869   211          리아라운지  서울특별시 강남구 도산대로 420 청담스퀘어B동 1F  카페 / 디저트  15000
870     9  Bar Tea Scent    서울특별시 강남구 선릉로162길 16 엘리자벳빌딩  카페 / 디저트  25000
871   383            스케줄        서울특별시 강남구 선릉로152길 37 B1  카페 / 디저트  25000
872   437        안서리베이킹랩              서울특별시 강남구 삼성로 755  카페 / 디저트  25000
873   801         티하우스하다        서울특별시 강남구 선릉로146길 54 1F  카페 / 디저트  35000

[874 rows x 5 columns]

In [12]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.000000
1       1   0.000003
2       2   0.000002
3       3   0.005413
4       4   0.000000
..    ...        ...
869   869   0.000000
870   870   0.000000
871   871   0.000000
872   872        NaN
873   873        NaN

[874 rows x 2 columns]

In [13]:
ncf

         u_id       p_id  ncf_score
0           0 296.000000   0.962409
1           0 459.000000   0.993598
2           0  54.000000   0.000001
3           0  84.000000   0.996747
4           0 110.000000   0.000781
...       ...        ...        ...
2256731  2587 563.000000   0.000000
2256732  2587 562.000000   0.000000
2256733  2587 560.000000   0.000000
2256734  2587 558.000000   0.000000
2256735  2587   0.000000   0.000000

[2256736 rows x 3 columns]

In [14]:
ncf=ncf[ncf['u_id']==107]

In [15]:
ncf

       u_id       p_id  ncf_score
93304   107  34.000000   0.999944
93305   107  71.000000   0.999689
93306   107  41.000000   0.000002
93307   107  98.000000   0.000001
93308   107 147.000000   0.001045
...     ...        ...        ...
94171   107 414.000000   0.000000
94172   107 413.000000   0.000000
94173   107 715.000000   0.000000
94174   107 716.000000   0.000000
94175   107 871.000000   0.000000

[872 rows x 3 columns]

In [16]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,category,price,cbf_score,u_id,ncf_score
0,350,새들러하우스,서울특별시 강남구 도산대로17길 10 B1,카페 / 디저트,5000,0.000000,107.000000,0.000000
1,782,테일러커피,서울특별시 강남구 강남대로160길 31 1F,카페 / 디저트,5000,0.000000,107.000000,0.000000
2,741,컨플릭트 스토어,서울특별시 강남구 논현로159길 46-5,카페 / 디저트,5000,0.000000,107.000000,0.000003
3,225,마일스톤커피,서울특별시 강남구 논현로159길 49,카페 / 디저트,5000,0.000000,107.000000,0.000000
4,228,마카롱쿠튀르,서울특별시 강남구 논현로175길 109,카페 / 디저트,5000,0.000003,107.000000,0.000001
...,...,...,...,...,...,...,...,...
869,211,리아라운지,서울특별시 강남구 도산대로 420 청담스퀘어B동 1F,카페 / 디저트,15000,0.000006,107.000000,0.000000
870,9,Bar Tea Scent,서울특별시 강남구 선릉로162길 16 엘리자벳빌딩,카페 / 디저트,25000,0.000000,107.000000,0.032906
871,383,스케줄,서울특별시 강남구 선릉로152길 37 B1,카페 / 디저트,25000,0.000000,107.000000,0.000000
872,437,안서리베이킹랩,서울특별시 강남구 삼성로 755,카페 / 디저트,25000,0.000000,107.000000,0.000000
873,801,티하우스하다,서울특별시 강남구 선릉로146길 54 1F,카페 / 디저트,35000,0.000000,107.000000,0.000000

In [17]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [18]:
del df['u_id']

In [19]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,category,price,cbf_score,ncf_score,result
810,284,버터핑거팬케이크,서울특별시 강남구 선릉로152길 11,카페 / 디저트,5000,0.063012,0.758151,0.047772
256,84,끌레르 봉봉,서울특별시 강남구 논현로113길 13 103호,카페 / 디저트,5000,0.024191,0.999995,0.024191
136,263,문화시민서울,서울특별시 강남구 강남대로62길 35 2F,카페 / 디저트,5000,0.019011,0.995102,0.018917
97,67,그레인바운더리,서울특별시 강남구 도산대로17길 37-1,카페 / 디저트,5000,0.031971,0.212938,0.006808
285,193,로지브라운,서울특별시 강남구 봉은사로37길 7-8 1F,카페 / 디저트,5000,0.005184,0.989998,0.005132
681,234,만랩커피,서울특별시 강남구 논현로85길 52,카페 / 디저트,5000,0.019941,0.191869,0.003826
769,15,Coffee NEED,서울특별시 강남구 역삼로 139,카페 / 디저트,5000,0.002964,0.961141,0.002849
685,355,선릉마실길,서울특별시 강남구 선릉로 530 1F,카페 / 디저트,5000,0.001616,0.995217,0.001608
272,71,그린마일커피,서울특별시 강남구 선릉로127길 11 다인빌딩,카페 / 디저트,5000,0.001221,0.999689,0.001221
347,553,유로스커피로스터스,서울특별시 강남구 테헤란로84길 12 마루빌딩 1F,카페 / 디저트,5000,0.052676,0.016960,0.000893