In [1]:
import pandas as pd
import numpy as np

In [2]:
user_id = int(input('user id : '))
pd.set_option('display.float_format', lambda x: '%.6f' % x)

user id : 107

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
eat_info =  pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/eat_info.csv')
cbf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/'+str(user_id)+'_cbf.csv')
ncf = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/prediction/ncf_scores.csv')

In [5]:
eat_info

,p_id,Unnamed: 0,name,address,category,price,rvw_cnt,rating,reviews,tags
0,553,0,원조할아버지손두부,서울특별시 광진구 자양로 324,한정식 / 백반 / 정통 한식,5000,72,4.500000,예전 초당할머니 순두부는 살짝 변해서여길 못따라옴흰순두부는 맛과 향이 살짝 비릴수 ...,"초당,순두부,순두부,향,전혀,아차산,등산,필수,코스,늘,회전,십분,이상,두부,두부,..."
1,383,1,서북면옥,서울특별시 광진구 자양로 199-1,국수 / 면 요리,5000,94,4.200000,서울특별시 광진구 구의2동에 위치한 서북면옥에서 물냉면(9천원)과 접시만두 6조각(...,"서울특별시,광진구,구의,동,서북,면옥,물냉면,과,접시,만두,물냉면,육수,슴슴,소고기..."
2,78,2,궤도에오르다,서울특별시 광진구 광나루로 416 건희빌딩 1F,기타 한식,5000,40,4.000000,기본에 충실해서 더 맛있었던 핫도그였습니다. 들어가서 음식이 나오기까지는 꽤 시간이...,"핫도그,문,준비,고려,핫도그,특성,아쉬움,소세지,굽기,당선,양은,간식,광진구,투어,..."
3,715,3,콩이네,서울특별시 광진구 긴고랑로9길 28 중곡제일시장 103호,기타 한식,5000,13,4.000000,이사온 첫날 점심은 짜장면인데 집에서 먹기 싫어서밖으로 나와 망플을 켭니다..1위가...,"온,첫날,짜장면,망플,장안,분식집,사장,대한민국,요식업,친절,장안,떡볶이,튀김,오뎅..."
4,45,4,건대우동집,서울특별시 광진구 아차산로 201 동성빌딩 1F,기타 한식,5000,9,4.000000,혼밥하기 좋은곳.김밥도 괜찮고 잔치국수도 깔끔하니 괜찮다.. 잔치국수와 건대김밥 주...,"혼밥,김밥,잔치국수,잔치국수,김밥,잔치국수,다대기,움,김밥,계란,당근,단무지,위주,..."
...,...,...,...,...,...,...,...,...,...,...
841,225,841,마우로아,서울특별시 광진구 능동로 320 1F,칵테일 / 와인,35000,10,4.200000,성수 유명한 맛집에서 이제는 군자 맛집으로너무 가보고싶었던 곳이라 엄마랑 동생이랑 ...,"성수,군자,엄마,동생,와인,가야,양파,스프,꼬기,더욱,군자역,거주,인구,군자,집들이..."
842,81,842,글래시,서울특별시 광진구 능동로 23-14 1F,칵테일 / 와인,35000,19,3.500000,뚝섬역에서 가까운 글래시 와인바에요 ! 와인바 찾던 중 우연히 발견했는데 가격도 맛...,"뚝섬역,래시,와인,와인,발견,세번,파스타,시중,사장,면,관건,파스타,와인,와인,발견..."
843,215,843,리바,서울특별시 광진구 워커힐로 177 비스타 워커힐 1F,칵테일 / 와인,50000,4,NaN,제주도에서 하는 빛의 벙커를 서울에서도 한다고 하여워커힐 방문!빛의 시어터 다 보고...,"제주도,빛,벙커,서울,워커힐,빛,시어터,워커힐,뷰,말모,층,쪽,보틀,일정,금액,이상..."
844,270,844,몽,서울특별시 광진구 아차산로33길 25,칵테일 / 와인,50000,1,NaN,분위기 어둑지고 아늑한 곳. 인도풍? 칵테일바 인데 분수도 있고 신발벗고 편히 앉아...,"어둑지,인도,칵테일,분수,신발,아지트,실제,불빛,촛불,칵테일,여자,격의,상콤,달달,..."
845,760,845,페어이너프,서울특별시 광진구 뚝섬로 613-1 2F,칵테일 / 와인,35000,1,NaN,알쓰이지만 꼭 한 본 가보고 싶었던 와인바!페어이너프는 검색하다가 발견한 곳인데 은...,"와인,페어,너프,검색,발견,조명,평소,술,달달,알콜,도수,스파클링,와인,모스,카토,..."

In [6]:
 eat_info=eat_info[['p_id','name','address']]

In [7]:
eat_info

     p_id       name                          address
0     553  원조할아버지손두부                서울특별시 광진구 자양로 324
1     383       서북면옥              서울특별시 광진구 자양로 199-1
2      78     궤도에오르다       서울특별시 광진구 광나루로 416 건희빌딩 1F
3     715        콩이네  서울특별시 광진구 긴고랑로9길 28 중곡제일시장 103호
4      45      건대우동집       서울특별시 광진구 아차산로 201 동성빌딩 1F
..    ...        ...                              ...
841   225       마우로아             서울특별시 광진구 능동로 320 1F
842    81        글래시           서울특별시 광진구 능동로 23-14 1F
843   215         리바    서울특별시 광진구 워커힐로 177 비스타 워커힐 1F
844   270          몽             서울특별시 광진구 아차산로33길 25
845   760      페어이너프           서울특별시 광진구 뚝섬로 613-1 2F

[846 rows x 3 columns]

In [8]:
cbf=cbf[['p_id','cbf_score']]
cbf

     p_id  cbf_score
0       0   0.000383
1       1   0.002406
2       2   0.000070
3       3   0.000096
4       4   0.000569
..    ...        ...
841   841   0.012272
842   842   0.000021
843   843   0.000025
844   844        NaN
845   845        NaN

[846 rows x 2 columns]

In [9]:
ncf

       u_id       p_id  ncf_score
0       107  36.000000   0.249218
1       107  79.000000   0.095857
2       107 120.000000   0.002111
3       107  81.000000   0.474309
4       107 350.000000   0.249819
...     ...        ...        ...
25315   143 786.000000   0.000001
25316   143 650.000000   0.000008
25317   143 597.000000   0.000632
25318   143 685.000000   0.000000
25319   143 344.000000   0.000084

[25320 rows x 3 columns]

In [10]:
ncf=ncf[ncf['u_id']==107]

In [11]:
ncf

     u_id       p_id  ncf_score
0     107  36.000000   0.249218
1     107  79.000000   0.095857
2     107 120.000000   0.002111
3     107  81.000000   0.474309
4     107 350.000000   0.249819
..    ...        ...        ...
839   107 502.000000   0.000000
840   107 362.000000   0.000012
841   107  96.000000   0.000169
842   107 512.000000   0.000050
843   107 539.000000   0.000035

[844 rows x 3 columns]

In [12]:
df=pd.merge(eat_info, cbf, left_on='p_id', right_on ='p_id',how ='left')
df=pd.merge(df, ncf, left_on='p_id', right_on ='p_id',how ='left')
df

,p_id,name,address,cbf_score,u_id,ncf_score
0,553,원조할아버지손두부,서울특별시 광진구 자양로 324,0.001554,107.000000,0.002546
1,383,서북면옥,서울특별시 광진구 자양로 199-1,0.000064,107.000000,0.000034
2,78,궤도에오르다,서울특별시 광진구 광나루로 416 건희빌딩 1F,0.000054,107.000000,0.006558
3,715,콩이네,서울특별시 광진구 긴고랑로9길 28 중곡제일시장 103호,0.000015,107.000000,0.000000
4,45,건대우동집,서울특별시 광진구 아차산로 201 동성빌딩 1F,0.000080,107.000000,0.000010
...,...,...,...,...,...,...
841,225,마우로아,서울특별시 광진구 능동로 320 1F,0.000003,107.000000,0.000877
842,81,글래시,서울특별시 광진구 능동로 23-14 1F,0.000001,107.000000,0.474309
843,215,리바,서울특별시 광진구 워커힐로 177 비스타 워커힐 1F,0.000000,107.000000,0.000097
844,270,몽,서울특별시 광진구 아차산로33길 25,0.000000,107.000000,0.000003
845,760,페어이너프,서울특별시 광진구 뚝섬로 613-1 2F,0.000922,107.000000,0.000000

In [14]:
df['result'] = df['cbf_score'] * df['ncf_score']

In [15]:
df.sort_values('result',ascending = False).head(10)

,p_id,name,address,cbf_score,u_id,ncf_score,result
280,538,요마시,서울특별시 광진구 천호대로102길 7 1F,0.050955,107.000000,0.347397,0.017702
825,19,WAVE bar,서울특별시 광진구 능동로19길 18 B1,0.024394,107.000000,0.471738,0.011507
348,286,미미전병,서울특별시 광진구 뚝섬로27길 55,0.012118,107.000000,0.356486,0.004320
208,768,포차조개구이,서울특별시 광진구 용마산로 40,0.028362,107.000000,0.119390,0.003386
124,382,서민떡볶이야채곱창,서울특별시 광진구 용마산로 58,0.037072,107.000000,0.056862,0.002108
562,266,모서리에커피집,서울특별시 광진구 능동로17길 5,0.007277,107.000000,0.096464,0.000702
336,27,강경수참치,서울특별시 광진구 아차산로33길 34,0.007047,107.000000,0.085987,0.000606
307,264,모리본,서울특별시 광진구 긴고랑로15길 6,0.006206,107.000000,0.085172,0.000529
709,685,카페노어스,서울특별시 광진구 구의강변로 96 현대아파트 6단지상가 1F,0.002625,107.000000,0.195343,0.000513
224,487,어사랑횟집,서울특별시 광진구 동일로 164 1F,0.002572,107.000000,0.190192,0.000489